html{
  background: url(../assets/tile8.png)fixed repeat;
  background-size: 27px;
}

body{

margin:0;
font-family: 'Roboto', 'Open-sans';
backdrop-filter: blur(6px);
}



.container{
  background-color:#696565;
  
  max-width:1280px;
  margin:0 auto;
  padding:3rem;
  box-shadow:0px 2px 2px 4px rgba(0,0,0,0.71);
}

.header{
  
}

.image-container{
   opacity:1;
   backdrop-filter: blur(10px);
}
// select children of class scss?


a>img{width:940px;
height:1050px;
 opacity:1;
}
img{width:940px;
height:1050px;
 opacity:1;
}

// & > .header{display:inline;}
.brand-header{
  display:inline-block;
}

h1,h2,h3,h4,h5 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  list-style : none;
  list-style-image : none;
}

a {
  transition:3ms all;
  font-weight: bold;
  color: #196cbf;
  text-decoration : none;
  &:hover{
    color:rgb(23, 182, 140);
  }
  &.router-link-exact-active {
    color: #1f5f43;
  }
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
}

